.pytest_cache/
site/
**__pycache__**
.venv/
**.ipynb_checkpoints**
.env
.temp/*
.zipline/*

*.xlsx#
.AirBorneCache/
notebooks/.cache/
.jupyter/lab/workspaces/
.jupyter/migrated
.jupyter/lab/user-settings/@jupyterlab/filebrowser-extension/browser.jupyterlab-settings
notebooks/~$zipline_demo_strategy.xlsx
notebooks/WIKI_PRICES_212b326a081eacca455e13140d7bb9db.zip
node_modules/
~$**
temp_throwaway.ipynb
